/*  ======== RESET ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62%;
}

/*  ======== RACINE ======== */

:root {
  /* main color */
  --black: #0e0e0e;
  --white: #f9f9f9;
  --green: #dfff00;
  --grey-police: #879191af;

  /* police */
  --mainText: "Epilogue", sans-serif;

  /* épaisseur */
  --gras5: 500;
  --gras: 400;
  --fin: 300;
  --bold: bold;

   /* taille de police */
  --h1: clamp(4.5rem, 10vw, 8rem);
  --h2: clamp(3.2rem, 6vw, 5rem);
  --h3: clamp(2.4rem, 4vw, 3.2rem);  
  --h4: clamp(1.8rem, 3vw, 2.2rem);  
  --p: clamp(1.4rem, 2vw, 1.6rem);
  --small: clamp(1.2rem, 1.5vw, 1.4rem);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--white);

  font-family: var(--mainText);
}

main{
    padding: 10px 0;
}

.portrait{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;

    img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px var(--green) solid;
    }

    h1{
        font-size: var(--h2);
        text-transform: uppercase;
        letter-spacing: -2px;
    }

    p{
        font-size: var(--p);
        text-align: center;
        padding: 0 30px;
        color: var(--grey-police);
    }
}
 
.propos-container{
    background: var(--black);
    color: var(--grey-police);
    padding: 64px 24px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-bottom: 30px;

    section{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    h2{
        color: var(--green);
        text-transform: uppercase;
        font-size: var(--h3);
        line-height: 32px;
        
    }

    p{
        font-size: var(--p);
        font-weight: 300;
        line-height: 26px
    };
}

.img-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 24px ;

    h2{
        color: var(--black);
        text-transform: uppercase;
        font-size: var(--h2);
        font-weight: 800;
        line-height: 32px;
        letter-spacing: -1.2px;
    }

    p{
        font-size: var(--p);
        font-weight: 300;
        line-height: 26px
    }

    div{
        display: flex;
        gap: 16px;
         overflow-x: scroll;

    }

    img{
        height: 350px;
        width: 290px;
        object-fit: cover;
        border-radius: 16px;
       
    }
}