/*  ======== RESET ======== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62%;
}

/*  ======== RACINE ======== */

:root {
    /* main color */
    --black: #0e0e0e;
    --white: #f9f9f9;
    --green: #dfff00;
    --grey-police: #879191af;

    /* police */
    --mainText: "Epilogue", sans-serif;

    /* épaisseur */
    --gras5: 500;
    --gras: 400;
    --fin: 300;
    --bold: bold;

    /* taille de police */
    --h1: clamp(4.5rem, 10vw, 8rem);
    --h2: clamp(3.2rem, 6vw, 5rem);
    --h3: clamp(2.4rem, 4vw, 3.2rem);
    --h4: clamp(1.8rem, 3vw, 2.2rem);
    --p: clamp(1.4rem, 2vw, 1.6rem);
    --small: clamp(1.2rem, 1.5vw, 1.4rem);
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    background-color: var(--white);

    font-family: var(--mainText);
}

