/*  ======== RESET ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62%;
}

/*  ======== RACINE ======== */

:root {
  /* main color */
  --black: #0e0e0e;
  --white: #f9f9f9;
  --green: #dfff00;
  --grey-police: #879191af;

  /* police */
  --mainText: "Epilogue", sans-serif;

  /* épaisseur */
  --gras5: 500;
  --gras: 400;
  --fin: 300;
  --bold: bold;

  /* taille de police */
  --h1: clamp(4.5rem, 10vw, 8rem);
  --h2: clamp(3.2rem, 6vw, 5rem);
  --h3: clamp(2.4rem, 4vw, 3.2rem);  
  --h4: clamp(1.8rem, 3vw, 2.2rem);  
  --p: clamp(1.4rem, 2vw, 1.6rem);
  --small: clamp(1.2rem, 1.5vw, 1.4rem);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--white);

  font-family: var(--mainText);
}

main{
    padding: 10px 5px;
}

.hero-text p{
    font-size: var(--p);
    text-align: start;
    padding: 20px;
    line-height: 1.7;
    color: var(--grey-police);
}

h1 span {
  color: var(--green);
  font-size: var(--h1);
  padding: 1rem;
  background: black;
}

h1 {
  font-size: var(--h1);
  padding: 0 10px;  
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 0.8;
  font-weight: bold;
  position: relative;
  z-index: 1;
  color: var(--black);
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ------------- SECTION PLANNING ------------ */

h2{
  font-size: var(--h2);
  text-transform: uppercase;
  padding: 10px;
  letter-spacing: 2px;
}

.container-day{
  display: flex;
  gap: 1rem;
  padding: 30px;
  overflow-x: scroll;
}

.day a{
  font-size: var(--p);
  background: lightgray;
  padding: 10px;
  width: 70px;
  border-radius: 25%;
  height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
}

.day a:hover{
  background-color: var(--green);
}


/* ------------- SECTION LESSON ------------ */

.container-lesson {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem;
  justify-items: center;
}

.content{
    display: flex;
    gap: 1rem;
}

.timing{
    font-size: var(--h4);
    font-weight: 900;
    display: inline-block;
    position: relative;
}

.timing::after {
    content: "";
    position: absolute;
    bottom: -10px;   /* Ajuste la hauteur de la ligne sous le texte */
    left: 0;
    width: 40px;   /* C'est ICI que tu définis la longueur (3 ou 4 lettres) */
    height: 4px;   /* Épaisseur de la ligne */
    background-color: var(--green); /* Ta variable vert fluo */
}

.lesson {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.256);
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow);
  align-items: center;
  padding-bottom: 1.1rem;
}

.lesson img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.lesson .favori-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: linear-gradient(to right, #576500 0%, #dfff00 100%);
  border: none;
  border-radius: 2px;
  font-size: var(--small);
  cursor: pointer;
  z-index: 10;
  padding: 0.1rem;
}

.lesson h2 {
  font-size:var(--h3);
  padding-left: 1rem;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.lesson p {
  border: solid 2px var(--lightGrey);
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  font-size: var(--small);
  color: rgba(128, 128, 128, 0.622);
  font-weight: 500;
}

.btn-link {
  width: 80%;
  height: 40px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(to right, #576500 0%, #dfff00 100%);
  font-size: var(--p);
  text-transform: uppercase;
  font-weight: var(--bold);
  display: block;
  margin: 0 auto;
}

.lesson .btn-link {
  background: var(--black);
  height: 30px;
}

.lesson .btn-link a {
  font-size: var(--small);
  text-decoration: none;
  color: var(--white);
}


.btn-link a {
  font-size: var(--p);
  text-decoration: none;
  color: var(--black);
}

.end{
    margin: 20px auto;
}
