/*  ======== RESET ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62%;
}

/*  ======== RACINE ======== */

:root {
  /* main color */
  --black: #0e0e0e;
  --white: #f9f9f9;
  --green: #dfff00;
  --grey-police: #9ea8a8;

  /* police */
  --mainText: "Epilogue", sans-serif;

  /* épaisseur */
  --gras5: 500;
  --gras: 400;
  --fin: 300;
  --bold: bold;

  --h1: clamp(4.5rem, 10vw, 8rem);
  --h2: clamp(3.2rem, 6vw, 5rem);
  --h3: clamp(2.4rem, 4vw, 3.2rem);  
  --h4: clamp(1.8rem, 3vw, 2.2rem);  
  --p: clamp(1.4rem, 2vw, 1.6rem);
  --small: clamp(1.2rem, 1.5vw, 1.4rem);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--white);

  font-family: var(--mainText);
}

/* ------------ workshop ------------ */


h1{
    font-size: var(--h1);
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.8;
    font-weight: 900;
    position: relative;
    display: inline-block;
    color: var(--black);
    margin: 1.5rem;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;   /* Ajuste la hauteur de la ligne sous le texte */
    left: 0;
    width: 60px;   /* C'est ICI que tu définis la longueur (3 ou 4 lettres) */
    height: 4px;   /* Épaisseur de la ligne */
    background-color: var(--green); /* Ta variable vert fluo */
}


.workshop {
  margin: 1rem 0;
  padding: 2rem 0;
  background: var(--bg-secondary);
  border-radius: 5px;
  box-shadow: 0 2px 8px var(--shadow);
}

.workshop h2 {
  font-size: var(--h4);
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--green);
  text-transform: uppercase;
  background-color: var(--black);
  padding: 1.5rem;
  font-weight: none;
  letter-spacing: -1px;
}

.card-workshop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.workshop-item {
  width: 90%;
  max-width: 450px;
  background-color: #eaeaea;
  border-radius: 16px;
  overflow: hidden;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border: none;
}

.workshop-item[open] {
  background-color: var(--green); /* Devient vert fluo à l'ouverture */
}

.white[open] {
    background-color: #eaeaea; 
}

.black[open] {
    background-color: var(--black); 
    color: var(--white);
}

.black[open] p{
    color: var(--white);
}

.workshop-item summary {
  list-style: none; 
  padding: 2rem;
  font-size: var(--p);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.workshop-item summary::after {
  content: "+"; /* Par défaut */
  font-size: var(--h4);
}

.workshop-item[open] summary::after {
  content: "—"; /* Devient un tiret quand ouvert */
}

/* Contenu intérieur */
.content-card {
  padding: 0 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.content-card p {
  font-size: var(--p);
  line-height: 1.5;
  color: var(--black);
}

.workshop-img {
  width: 100%;
  border-radius: 15px;
  height: 200px;
  object-fit: cover;
}

.info-bar {
  background-color: #f5f5f5;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
  font-size: var(--small)  ;
  color: var(--black);
}

.btn-green {
  width: 250px;
  height: 50px;
  border-radius: 16px;
  border: none;
  background: linear-gradient(to right, #576500 0%, #dfff00 100%);
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  font-weight: var(--bold);
  display: block;
  margin: 0 auto;
}

.btn-green a {
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  font-weight: var(--bold);
  text-decoration: none;
}
