/*  ======== RESET ======== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62%;
}

/*  ======== RACINE ======== */

:root {
  /* main color */
  --black: #0e0e0e;
  --white: #f9f9f9;
  --green: #dfff00;
  --grey-police: #879191;

  /* police */
  --mainText: "Epilogue", sans-serif;

  /* épaisseur */
  --gras5: 500;
  --gras: 400;
  --fin: 300;
  --bold: bold;

   /* taille de police */
  --h1: clamp(4.5rem, 10vw, 8rem);
  --h2: clamp(3.2rem, 6vw, 5rem);
  --h3: clamp(2.4rem, 4vw, 3.2rem);  
  --h4: clamp(1.8rem, 3vw, 2.2rem);  
  --p: clamp(1.4rem, 2vw, 1.6rem);
  --small: clamp(1.2rem, 1.5vw, 1.4rem);
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--white);

  font-family: var(--mainText);
}

main{
    padding: 10px;
}

h1{
    font-size: var(--h1);
    text-transform: uppercase;
    letter-spacing: -2px;
    line-height: 0.8;
    font-weight: 900;
    position: relative;
    display: inline-block;
    color: var(--black);
    margin-bottom: 2.5rem;
}

h1::after {
    content: "";
    position: absolute;
    bottom: -10px;   /* Ajuste la hauteur de la ligne sous le texte */
    left: 0;
    width: 60px;   /* C'est ICI que tu définis la longueur (3 ou 4 lettres) */
    height: 4px;   /* Épaisseur de la ligne */
    background-color: var(--green); /* Ta variable vert fluo */
}


.parent{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    justify-items: center;
    
}

.container-tarifs{
    background: rgba(211, 211, 211, 0.487);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.7rem;
    border-radius: 16px;
}

.card-tarifs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--black);
    color: var(--white);
    padding: 1rem ;
    border-radius: 16px;
}
.card-tarifs p{
    color: var(--grey-police);
    font-size: var(--p);
    padding: 0 15px 20px 30px;
    text-transform: uppercase;
}


h2 span {
  color: var(--green);
  font-size: var(--h3);
}

h2 {
  font-size: var(--h3);
  padding: 30px 30px 15px;  
  text-transform: uppercase;
  letter-spacing: -1px;
  line-height: 0.8;
  font-weight: bold;
  position: relative;
  z-index: 1;
  color: var(--white);
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.avantage{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;

}

.avantage p, .avantage p span{
    font-size: var(--small);
}

.avantage p:nth-child(1) {
    font-weight: 900;
    font-size: var(--h3);
    
    span{
        font-weight: 400;
        color: var(--grey-police);
    }
}

.avantage p:nth-child(2){
    text-transform: uppercase;
    font-weight: 600;
}

.avantage p:nth-child(n+3){
    color: var(--grey-police);
    display: flex;
    align-items: center;

    img{
        width: 20px;
        padding-right: 6px;
    }
}

.btn-link{
    width: 200px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #576500 0%, #dfff00 100%);
  color: var(--black);
  font-size: var(--p);
  text-transform: uppercase;
  font-weight: 500;
  margin: 0 auto 5px;
}

.btn-link a{
    font-size: var(--p);
    text-decoration: none;
    color: var(--black);

}
