{% extends 'layout.html.twig' %}

{% block title %}Accueil - GymAccord{% endblock %}

{% block body %}
    <h1>Bienvenue sur ma page d'accueil</h1>
    <p>Ce contenu est injecté dans le bloc body du layout, qui lui-même est injecté dans le bloc layout de la base.</p>
{% endblock %}