{% extends 'layout.html.twig' %}

{% block content %}
	<main class="cgu">
		<h1>Mentions Légales et Confidentialité</h1>

    <section>
        <h2>1. Mentions Légales</h2>
        <p><strong>Éditeur du site :</strong> GYMACCORD, information a venir.</p>
        <p><strong>Siège social :</strong> A venir.</p>
        <p><strong>Immatriculation :</strong> RCS Caen n° non reel.</p>
        <p><strong>Contact :</strong> 0123456789 / [Adresse email].</p>
        <p><strong>Hébergeur :</strong> Alwaysdata, France.</p>
    </section>

    <section>
        <h2>2. Politique de Confidentialité</h2>
        <p>Dans le cadre de votre abonnement et de la réservation de vos cours (collectifs ou avec coach), nous collectons certaines données personnelles.</p>
        
        <h3>Données collectées</h3>
        <ul>
            <li>Identité (Nom, prénom, date de naissance).</li>
            <li>Coordonnées (Email, téléphone, adresse).</li>
            <li>Historique de vos réservations et présences.</li>
        </ul>

        <h3>Finalité du traitement</h3>
        <p>Ces données nous servent à :</p>
        <ul>
            <li>Gérer vos accès à la salle et vos abonnements.</li>
            <li>Organiser le calendrier des cours collectifs et séances privées.</li>
            <li>Vous envoyer des notifications de rappel ou des alertes (annulation de cours).</li>
        </ul>

        <h3>Vos droits (RGPD)</h3>
        <p>Vous disposez d'un droit d'accès, de rectification et de suppression de vos données. Pour l'exercer, contactez-nous à l'adresse : a venir.</p>
    </section>
	</main>
{% endblock %}